# Includes
# -----------------------------------------------------------------------
# Include the README, CHANGELOG, CONTRIBUTING, SECURITY markdown files
include *.md
# Include the license file
include LICENSE
# Include the citation info
include *.cff
# Include project metadata and changelog
include pyproject.toml
# include main source modules
recursive-include src *
# Include the Requirements
recursive-include requirements *.txt
include requirements.txt

# Excludes
# -----------------------------------------------------------------------
# ci requirements
prune requirements/ci
prune requirements/utils

# legacy/duplicate packaging config files from the sdist
# Note: setuptools writes a small setup.cfg and interpretune.egg-info dir into the sdist release tree that would require
#       post-processing to remove. We'll do so in the future if we decide the marginal complexity is justified.
exclude MANIFEST.in

# NOTE: We are intentionally keeping Jupyter notebooks and their images in the
# sdist for now (they live under `src/it_examples/notebooks/`). If/when we decide
# to package examples separately we should
# prune that directory here (e.g. `prune src/it_examples/notebooks`).
# Exclude pre-commit cfg
exclude .pre-commit-config.yaml
# exclude non-src folders
prune tests
prune scripts
prune docs
prune dockers
# exclude all dot-prefixed directories
prune .*/
# exclude dot-prefixed files in top-level directory
exclude .*
# exclude compiled Python files and other log patterns globally
global-exclude __pycache__/ *.orig lightning_logs *.py[cod]
# exclude it_examples tests
exclude src/it_examples/test_examples.py
