transformer_lens >= 2.15.4
sae_lens >= 6.3.1
torch >=2.7.1
tabulate >= 0.9.0
jsonargparse[signatures] >= 4.35.0
finetuning-scheduler >= 2.5.0
peft
wandb
torch-tb-profiler
ipython[notebook]
ipywidgets
jupytext >= 1.10
nbval >= 0.9.6
python-dotenv
plotly
gdown
evaluate
scikit-learn
neuronpedia
circuit-tracer @ git+https://github.com/speediedan/circuit-tracer.git@6c74ea291c410bb3391e572cd6a8d020be714922
sphinx >=4.0,<5.0
myst-parser >= 0.18.1
nbsphinx >= 0.8.5
pandoc >= 1.0
docutils >= 0.16
sphinxcontrib-fulltoc >= 1.0
sphinxcontrib-mockautodoc
sphinx-autodoc-typehints >= 1.16
sphinx-paramlinks >= 0.5.1
sphinx-togglebutton >= 0.2
sphinx-copybutton >= 0.3
typing-extensions
jinja2 >= 3.0.0,<3.1.0
pt_lightning_sphinx_theme @ git+https://github.com/speediedan/lightning_sphinx_theme.git@057f4c3e669948bc618eec1688b016f07140cc0d
coverage >= 6.4
pytest >= 6.0
pytest-rerunfailures >= 10.2
twine >= 3.2
pyright >= 1.1.365
pre-commit >= 1.0
psycopg
toml
pip-tools
huggingface_hub[hf_xet]
git+https://github.com/speediedan/circuit-tracer.git@6c74ea291c410bb3391e572cd6a8d020be714922#egg=circuit-tracer
