transformer_lens >= 2.15.4
sae_lens >= 6.3.1
torch >=2.7.1
tabulate >= 0.9.0
datasets >= 4.0.0
jsonargparse[signatures] >= 4.35.0
finetuning-scheduler >= 2.5.0
peft
wandb
torch-tb-profiler
notebook
jupyterlab
ipywidgets
jupytext >= 1.10
nbval >= 0.9.6
python-dotenv
plotly
gdown
evaluate
scikit-learn
neuronpedia
coverage >= 6.4
pytest >= 6.0
pytest-rerunfailures >= 10.2
twine >= 3.2
pyright >= 1.1.365
pre-commit >= 1.0
psycopg
toml
pip-tools
huggingface_hub[hf_xet]
git+https://github.com/speediedan/circuit-tracer.git@8941776fdbe6f37b4c87e5bb2c14b8b746be0f9b#egg=circuit-tracer
