transformer_lens >= 2.15.4
sae_lens >= 6.3.1
torch >=2.7.1
tabulate >= 0.9.0
datasets >= 4.0.0
jsonargparse[signatures] >= 4.35.0,<4.42.0
finetuning-scheduler >= 2.5.0
peft
wandb
torch-tb-profiler
notebook
jupyterlab
ipywidgets
jupytext >= 1.10
nbval >= 0.9.6
python-dotenv
plotly
matplotlib
gdown
evaluate
scikit-learn
neuronpedia
coverage >= 6.4
pytest >= 6.0
pytest-rerunfailures >= 10.2
twine >= 3.2
pyright >= 1.1.365
pre-commit >= 1.0
psycopg
toml
pip-tools >= 7.5.1
pip < 25.3
huggingface_hub[hf_xet]
nbmake >= 1.5.0
papermill >= 2.4.0
git+https://github.com/speediedan/circuit-tracer.git@004f1b2822eca3f0c1ddd2389e9105b3abffde87#egg=circuit-tracer
